@import url("../App.css");

.loginpage-main-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginpage-cc {
  height: fit-content;
  width: 50vw;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh;
}

.dashboard-main-container {
}

.test-main-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.common-cont {
  height: 30vh;
  width: 30vh;
  box-shadow: 1vh 1vh 1vh #00000022;
  margin: 2vh;
}

.counterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  width: 20vw;
  background-color: white;
  box-shadow: 1vh 1vh 2vh #00000022;
}

.textStyling {
  font-family: var(--def-font);
  font-size: 2vh;
  color: black;
}

.hyperlink {
  cursor: pointer;
  font-size: 5vh;
}

.mainContiner {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
