@import url("../App.css");

.loginpage-main-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginpage-cc {
  height: fit-content;
  width: 50vw;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh;
}

.dashboard-main-container {
}

.test-main-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
