@import url("../App.css");

.button-back {
  height: 5vh;
  min-width: 15vw;
  max-width: 20vw;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  box-shadow: 5px 5px 10px #00000022;
  cursor: pointer;
  margin: 1vh;
}

.button-text {
  font-family: var(--def-font);
  color: var(--white);
}

.input-field {
  min-width: 20vw;
  min-height: 3vh;
  border: none;
  border-bottom: 2px solid #000;
  margin: 1vh;
  font-size: 2vh;
  font-family: var(--def-font);
}

.input-field:focus {
  outline: none;
  border-bottom: 2px solid var(--yellow);
}

.align-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-field-checkbox {
  height: 3vh;
  width: 3vh;
  margin-right: 2vh;
}

.input-field-checkbox-hint {
  font-family: var(--def-font);
  color: var(--dark);
}
