.top-navigation {
  border: 2px solid #000;
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.applogo {
  height: 6vh;
  width: 6vh;
}

.active-tab {
  color: #000;
  margin: 2vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.inactive-tab {
  color: gray;
  margin: 2vh;
}

.card-body {
  min-width: 15vw;
  background-color: white;
  box-shadow: 2px 2px 5px #00000022;
  border-radius: 1vh;
  margin: 2vh;
}

.card-title {
  font-size: 2vh;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-tolltip {
  height: 5vh;
  width: 5vh;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.styles-informal {
  font-size: 4vh;
}

.smallText {
  font-size: 2vh;
}

.button {
  width: 80%;
  margin: 2vh 8% 2vh 8%;
  background-color: blue;
  color: white;
  padding: 2%;
  border-radius: 1vh;
}
